/*
* DARKSIGHT v2.0.1 < ~ .~)>
* @thejohnnathan
* MIT license
* last updated 20231007
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: boxicons;
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/boxicons.eot);
  src: url(../assets/fonts/boxicons.eot) format("embedded-opentype"), url(../assets/fonts/boxicons.woff2) format("woff2"), url(../assets/fonts/boxicons.woff) format("woff"), url(../assets/fonts/boxicons.ttf) format("truetype");
}
.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak-as: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bx-ul {
  margin-left: 2em;
  padding-left: 0;
  list-style: none;
}

.bx-ul > li {
  position: relative;
}

.bx-ul .bx {
  font-size: inherit;
  line-height: inherit;
  position: absolute;
  left: -2em;
  width: 2em;
  text-align: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes burst {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes burst {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes flashing {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
@keyframes flashing {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
  }
}
@keyframes fade-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
  }
}
@-webkit-keyframes fade-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
}
@keyframes fade-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
}
@-webkit-keyframes fade-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
}
@keyframes fade-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
}
@-webkit-keyframes fade-down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
}
@keyframes fade-down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
}
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
  }
  40%, 60%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bx-tada {
  -webkit-animation: tada 1.5s ease infinite;
  animation: tada 1.5s ease infinite;
}

.bx-burst-hover:hover {
  -webkit-animation: burst 1.5s infinite linear;
  animation: burst 1.5s infinite linear;
}

.bx-fade-right {
  -webkit-animation: fade-right 1.5s infinite linear;
  animation: fade-right 1.5s infinite linear;
}

.bx-xs {
  font-size: 1rem !important;
}

.bx-fw {
  font-size: 1.2857142857em;
  line-height: 0.8em;
  width: 1.2857142857em;
  height: 0.8em;
  margin-top: -0.2em !important;
  vertical-align: middle;
}

.bx-expand-horizontal:before {
  content: "\e997";
}

.bx-calendar-edit:before {
  content: "\ea18";
}

.bx-check:before {
  content: "\ea41";
}

.bx-check-circle:before {
  content: "\ea46";
}

.bx-chevron-down:before {
  content: "\ea4a";
}

.bx-chevron-left:before {
  content: "\ea4d";
}

.bx-chevron-right:before {
  content: "\ea50";
}

.bx-chevron-up:before {
  content: "\ea57";
}

.bx-cloud-upload:before {
  content: "\ea67";
}

.bx-cog:before {
  content: "\ea6e";
}

.bx-comment:before {
  content: "\ea76";
}

.bx-envelope:before {
  content: "\eac1";
}

.bx-fingerprint:before {
  content: "\eadb";
}

.bx-grid:before {
  content: "\eafa";
}

.bx-group:before {
  content: "\eaff";
}

.bx-headphone:before {
  content: "\eb08";
}

.bx-heart:before {
  content: "\eb0a";
}

.bx-home:before {
  content: "\eb12";
}

.bx-info-circle:before {
  content: "\eb21";
}

.bx-link-external:before {
  content: "\eb3e";
}

.bx-lock:before {
  content: "\eb49";
}

.bx-menu:before {
  content: "\eb5f";
}

.bx-moon:before {
  content: "\eb94";
}

.bx-palette:before {
  content: "\eba9";
}

.bx-phone-call:before {
  content: "\ebb3";
}

.bx-plus:before {
  content: "\ebc0";
}

.bx-refresh:before {
  content: "\ebd9";
}

.bx-right-arrow-alt:before {
  content: "\ebe6";
}

.bx-send:before {
  content: "\ebfc";
}

.bx-server:before {
  content: "\ebfd";
}

.bx-sun:before {
  content: "\ec34";
}

.bx-text:before {
  content: "\ec44";
}

.bx-transfer-alt:before {
  content: "\ec4f";
}

.bx-trash:before {
  content: "\ec50";
}

.bx-user:before {
  content: "\ec63";
}

.bx-user-circle:before {
  content: "\ec65";
}

.bx-wrench:before {
  content: "\ec8c";
}

.bx-x:before {
  content: "\ec8d";
}

.bx-x-circle:before {
  content: "\ec8e";
}

.bxs-calendar-edit:before {
  content: "\ed03";
}

.bxs-chevrons-left:before {
  content: "\ed3f";
}

.bxs-chevrons-right:before {
  content: "\ed40";
}

.bxs-component:before {
  content: "\ed61";
}

.bxs-cube:before {
  content: "\ed70";
}

.bxs-error:before {
  content: "\eda2";
}

.bxs-grid:before {
  content: "\edd4";
}

.bxs-info-circle:before {
  content: "\edf4";
}

.bxs-quote-single-left:before {
  content: "\ee85";
}

.bxs-star:before {
  content: "\eeb8";
}

.bxs-wrench:before {
  content: "\ef05";
}

.bg-gradient {
  background: linear-gradient(135deg, hsl(160, 84%, 39%) 25%, hsl(175, 77%, 26%) 75%, hsl(196, 64%, 24%) 100%);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
:root {
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  color: inherit;
  margin: 0;
}

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
  display: block;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(158, 64%, 52%);
  border: 2px solid transparent;
  border-radius: 16px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Inter", "Avenir", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: hsl(0, 0%, 9%);
  color: hsl(0, 0%, 96%);
  overflow-x: hidden;
}

main {
  display: block;
}

section {
  display: block;
  margin-bottom: 1rem;
}

article {
  display: block;
  margin-bottom: 4rem;
}

h1,
.title {
  font-size: 38.4px;
  line-height: 120%;
  letter-spacing: -2%;
}

h2 {
  font-size: 35.2px;
  line-height: 120%;
  letter-spacing: -2%;
}

h3 {
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -2%;
}

h4 {
  font-size: 28.8px;
  line-height: 140%;
}

h5 {
  font-size: 25.6px;
  line-height: 150%;
}

h6 {
  font-size: 22.4px;
  line-height: 150%;
}

.subtitle {
  font-size: 19.2px;
  font-weight: 300;
  line-height: 150%;
}

hr {
  box-sizing: content-box;
  height: 1px;
  border: 0;
  overflow: visible;
  border-top: 1px solid #242424 !important;
}

p {
  line-height: 150%;
}

pre {
  font-family: monospace, monospace;
  font-size: 1rem;
}

a {
  background-color: transparent;
  color: hsl(158, 64%, 52%);
  text-decoration: none;
  transition: all 0.4s ease;
}
a:hover {
  color: #27b07d;
}
a:active, a:focus {
  text-decoration: underline !important;
}

ul,
li {
  list-style-type: none;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
  background-color: hsl(0, 0%, 4%);
  color: hsl(158, 64%, 52%);
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.5rem;
}

sup {
  top: -0.75rem;
}

img {
  border-style: none;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type=button],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.caption {
  font-size: 75%;
  font-weight: 300;
  letter-spacing: 0.125rem;
  color: #8f8f8f;
}

figcaption {
  text-align: center;
}

.center {
  place-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}

blockquote {
  display: flex;
  flex-flow: row wrap;
  border-left: 2px solid #4a4a4a;
  justify-content: space-between;
}
blockquote cite {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
}

@media (max-width: 720px) {
  main {
    margin-top: 10rem !important;
  }
  .navbar .row div {
    margin: 0 auto !important;
    justify-content: center !important;
    width: 100%;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex !important;
  flex-flow: row wrap;
  align-items: stretch;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1rem;
  width: 100%;
}
.tiles .tile {
  width: 100%;
  display: inline-grid;
}
.tiles .tile > * {
  margin: 0.75rem;
}

.cols-2 {
  grid-column: span 2;
}

.rows-2 {
  grid-row: span 2;
}

.cols-3 {
  grid-column: span 3;
}

.rows-3 {
  grid-row: span 3;
}

.cols-4 {
  grid-column: span 4;
}

.cols-5 {
  grid-column: span 5;
}

.g-1 {
  gap: 1rem !important;
}

.g-2 {
  gap: 2rem !important;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}

.text-slate-900 {
  color: hsl(222, 47%, 11%);
}

.text-neutral-100 {
  color: hsl(0, 0%, 96%);
}

.bg-neutral-100 {
  background-color: hsl(0, 0%, 96%);
}

.bg-neutral-200 {
  background-color: hsl(0, 0%, 90%);
}

.bg-neutral-300 {
  background-color: hsl(0, 0%, 83%);
}

.bg-neutral-400 {
  background-color: hsl(0, 0%, 64%);
}

.bg-neutral-500 {
  background-color: hsl(0, 0%, 45%);
}

.text-neutral-600 {
  color: hsl(0, 0%, 32%);
}

.bg-neutral-600 {
  background-color: hsl(0, 0%, 32%);
}

.bg-neutral-700 {
  background-color: hsl(0, 0%, 25%);
}

.bg-neutral-800 {
  background-color: hsl(0, 0%, 15%);
}

.text-neutral-900 {
  color: hsl(0, 0%, 9%);
}

.bg-neutral-900 {
  background-color: hsl(0, 0%, 9%);
}

.text-neutral-950 {
  color: hsl(0, 0%, 4%);
}

.bg-neutral-950 {
  background-color: hsl(0, 0%, 4%);
}

.text-red-400 {
  color: hsl(0, 91%, 71%);
}

.text-hover-red-500:hover {
  color: hsl(0, 84%, 60%);
}

.text-emerald-100 {
  color: hsl(149, 80%, 90%);
}

.bg-emerald-100 {
  background-color: hsl(149, 80%, 90%);
}

.bg-emerald-200 {
  background-color: hsl(152, 76%, 80%);
}

.text-emerald-300 {
  color: hsl(156, 72%, 67%);
}

.bg-emerald-300 {
  background-color: hsl(156, 72%, 67%);
}

.text-emerald-400 {
  color: hsl(158, 64%, 52%);
}

.text-hover-emerald-400:hover {
  color: hsl(158, 64%, 52%);
}

.bg-emerald-400 {
  background-color: hsl(158, 64%, 52%);
}

.text-emerald-500 {
  color: hsl(160, 84%, 39%);
}

.text-hover-emerald-500:hover {
  color: hsl(160, 84%, 39%);
}

.bg-emerald-500 {
  background-color: hsl(160, 84%, 39%);
}

.bg-emerald-600 {
  background-color: hsl(161, 94%, 30%);
}

.bg-emerald-700 {
  background-color: hsl(163, 94%, 24%);
}

.bg-emerald-800 {
  background-color: hsl(163, 88%, 20%);
}

.text-emerald-900 {
  color: hsl(164, 86%, 16%);
}

.bg-emerald-900 {
  background-color: hsl(164, 86%, 16%);
}

.text-emerald-950 {
  color: hsl(166, 91%, 9%);
}

.bg-emerald-950 {
  background-color: hsl(166, 91%, 9%);
}

.text-white {
  color: hsl(0, 0%, 100%);
}

.text-hover-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-white {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-black:hover {
  color: hsl(0, 0%, 0%);
}

.bg-black {
  background-color: hsl(0, 0%, 0%);
}

.bg-info {
  background-color: hsl(175, 84%, 32%);
}

.bg-success {
  background-color: hsl(142, 76%, 36%);
}

.bg-caution {
  background-color: hsl(41, 96%, 40%);
}

.bg-critical {
  background-color: hsl(0, 72%, 51%);
}

.bg-magic {
  background-color: hsl(262, 83%, 58%);
}

.bg-emphasis {
  background-color: hsl(221, 83%, 53%);
}

.hero {
  color: hsl(0, 0%, 96%);
  display: block;
  padding: 6rem, 3rem;
  border-radius: 16px;
  min-height: 16rem;
  width: 100%;
  margin-top: 1rem;
  text-overflow: wrap;
}
.hero header {
  font-size: 32px;
  padding: 1.5rem;
  font-weight: bold;
}
.hero .content {
  font-size: 24px;
  padding: 1.5rem;
}
.hero footer {
  font-size: 16px;
  padding: 1.5rem;
}
.hero-sm {
  padding: 1.125rem 3rem;
  min-height: 10rem;
}
.hero-md {
  padding: 3rem 3rem;
  min-height: 15rem;
}
.hero-lg {
  padding: 6rem 3rem;
  min-height: 20rem;
}

.card {
  color: hsl(0, 0%, 96%);
  display: block;
  padding: 1.5rem;
  border: 1px solid hsl(0, 0%, 15%);
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
  border-radius: 8px;
  overflow: auto;
}
.card .card_title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.card .card_title > * {
  display: inline-flex;
}
.card .card_title > *:not(:last-child) {
  margin-right: 0.5rem;
}
.card .card_text {
  padding: 1.5rem 0;
  padding-bottom: 2.25rem;
}
.card .card_text p {
  font-size: inherit;
  margin: 0;
  opacity: 0.8;
}
.card .card_footer {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 !important;
}

.vs-card {
  color: hsl(0, 0%, 96%);
  width: 100%;
  max-width: 350px;
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
  border-radius: 16px;
  transition: all 0.25s ease;
  cursor: pointer;
  position: relative;
}
.vs-card:hover {
  box-shadow: none;
}
.vs-card:hover .card_img img {
  transform: scale(1.1);
}
.vs-card .card_text {
  font-size: 0.85rem;
  padding: 1.5rem;
  padding-bottom: 2.25rem;
}
.vs-card .card_text p {
  font-size: inherit;
  margin: 0;
  opacity: 0.8;
}
.vs-card .card_title {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.vs-card .card_title h4,
.vs-card .card_title h5,
.vs-card .card_title h6 {
  line-height: 1.5rem;
  margin: 0;
}
.vs-card .card_interactions {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 1rem;
  transition: all 0.25s ease;
}
.vs-card .card_interactions:hover {
  transform: translateY(-0.5rem);
}
.vs-card .card_img {
  position: relative;
  max-height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  transition: all 0.25s ease;
}
.vs-card .card_img img {
  width: 100%;
  border-radius: 20px;
  display: block;
  transition: all 0.25s ease;
}
.vs-card.type-h {
  display: flex;
  max-width: 400px;
}
.vs-card.type-h:hover {
  transform: scale(1.04);
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.vs-card.type-h .card_img {
  width: 200px;
}
.vs-card.type-h .card_img img {
  min-width: 200px;
}
.vs-card.type-h .card_text {
  padding: 1.5rem 0;
}
.vs-card.type-h .card_title {
  margin-left: 0;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 0.75rem 30px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 9%);
  align-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 9%);
  transition: all 0.4s ease;
  font-weight: 500;
  letter-spacing: 0.0125rem;
}
.btn[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  pointer-events: none !important;
}
.btn[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}
.btn.size-sm {
  font-size: 12px;
  padding: 0.75rem;
}
.btn.size-sm i {
  font-size: 12px;
}
.btn.size-lg {
  font-size: 24px;
  padding: 0.75rem 36px;
}
.btn.size-lg i {
  font-size: 24px;
}
.btn.has-icon-left i {
  margin-right: 1rem !important;
}
.btn.has-icon-right i {
  margin-left: 1rem !important;
}
.btn:active, .btn:focus {
  box-shadow: none;
  background-color: black;
  text-decoration: none !important;
  border: 1px solid hsl(0, 0%, 96%);
}
.btn:hover {
  background-color: #303030;
}
.btn.contained {
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.btn.contained:hover {
  box-shadow: 0 0.5rem 0.75rem #0a0a0a;
}

.btn-group {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 4px;
  background: hsl(0, 0%, 9%);
  padding: 0;
  margin: 0;
  max-width: fit-content;
  gap: 1px;
}
.btn-group * {
  display: inline-flex;
  border-radius: 0 !important;
}
.btn-group *:first-child {
  border-radius: 4px 0 0 4px !important;
}
.btn-group *:last-child {
  border-radius: 0 4px 4px 0 !important;
}

.btn-neutral-800 {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 0.75rem 30px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 15%);
  align-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 15%);
  transition: all 0.4s ease;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  color: hsl(0, 0%, 96%);
}
.btn-neutral-800[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  pointer-events: none !important;
}
.btn-neutral-800[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}
.btn-neutral-800.size-sm {
  font-size: 12px;
  padding: 0.75rem;
}
.btn-neutral-800.size-sm i {
  font-size: 12px;
}
.btn-neutral-800.size-lg {
  font-size: 24px;
  padding: 0.75rem 36px;
}
.btn-neutral-800.size-lg i {
  font-size: 24px;
}
.btn-neutral-800.has-icon-left i {
  margin-right: 1rem !important;
}
.btn-neutral-800.has-icon-right i {
  margin-left: 1rem !important;
}
.btn-neutral-800:active, .btn-neutral-800:focus {
  box-shadow: none;
  background-color: #0d0d0d;
  text-decoration: none !important;
  border: 1px solid hsl(0, 0%, 96%);
}
.btn-neutral-800:hover {
  background-color: #404040;
}
.btn-neutral-800.contained {
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.btn-neutral-800.contained:hover {
  box-shadow: 0 0.5rem 0.75rem #0a0a0a;
}
.btn-neutral-800:hover {
  background-color: #333333 !important;
}

.btn-neutral-950 {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 0.75rem 30px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 4%);
  align-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 4%);
  transition: all 0.4s ease;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  color: hsl(0, 0%, 96%);
}
.btn-neutral-950[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  pointer-events: none !important;
}
.btn-neutral-950[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}
.btn-neutral-950.size-sm {
  font-size: 12px;
  padding: 0.75rem;
}
.btn-neutral-950.size-sm i {
  font-size: 12px;
}
.btn-neutral-950.size-lg {
  font-size: 24px;
  padding: 0.75rem 36px;
}
.btn-neutral-950.size-lg i {
  font-size: 24px;
}
.btn-neutral-950.has-icon-left i {
  margin-right: 1rem !important;
}
.btn-neutral-950.has-icon-right i {
  margin-left: 1rem !important;
}
.btn-neutral-950:active, .btn-neutral-950:focus {
  box-shadow: none;
  background-color: black;
  text-decoration: none !important;
  border: 1px solid hsl(0, 0%, 96%);
}
.btn-neutral-950:hover {
  background-color: #242424;
}
.btn-neutral-950.contained {
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.btn-neutral-950.contained:hover {
  box-shadow: 0 0.5rem 0.75rem #0a0a0a;
}
.btn-neutral-950:hover {
  background-color: #171717 !important;
}

.btn-outlined-red-500 {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 0.75rem 30px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 9%);
  align-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 9%);
  transition: all 0.4s ease;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  color: #f7a1a1;
  border: 1px solid hsl(0, 84%, 60%);
}
.btn-outlined-red-500[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  pointer-events: none !important;
}
.btn-outlined-red-500[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}
.btn-outlined-red-500.size-sm {
  font-size: 12px;
  padding: 0.75rem;
}
.btn-outlined-red-500.size-sm i {
  font-size: 12px;
}
.btn-outlined-red-500.size-lg {
  font-size: 24px;
  padding: 0.75rem 36px;
}
.btn-outlined-red-500.size-lg i {
  font-size: 24px;
}
.btn-outlined-red-500.has-icon-left i {
  margin-right: 1rem !important;
}
.btn-outlined-red-500.has-icon-right i {
  margin-left: 1rem !important;
}
.btn-outlined-red-500:active, .btn-outlined-red-500:focus {
  box-shadow: none;
  background-color: black;
  text-decoration: none !important;
  border: 1px solid hsl(0, 0%, 96%);
}
.btn-outlined-red-500:hover {
  background-color: #303030;
}
.btn-outlined-red-500.contained {
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.btn-outlined-red-500.contained:hover {
  box-shadow: 0 0.5rem 0.75rem #0a0a0a;
}
.btn-outlined-red-500:hover {
  color: black;
  background-color: hsl(0, 84%, 60%);
}
.btn-outlined-red-500[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  border: 1px solid #292929;
  pointer-events: none !important;
}
.btn-outlined-red-500[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}

.btn-emerald-500 {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 0.75rem 30px;
  border-radius: 4px;
  background-color: hsl(160, 84%, 39%);
  align-content: center;
  align-items: center;
  border: 1px solid hsl(160, 84%, 39%);
  transition: all 0.4s ease;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  color: hsl(0, 0%, 96%);
}
.btn-emerald-500[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  pointer-events: none !important;
}
.btn-emerald-500[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}
.btn-emerald-500.size-sm {
  font-size: 12px;
  padding: 0.75rem;
}
.btn-emerald-500.size-sm i {
  font-size: 12px;
}
.btn-emerald-500.size-lg {
  font-size: 24px;
  padding: 0.75rem 36px;
}
.btn-emerald-500.size-lg i {
  font-size: 24px;
}
.btn-emerald-500.has-icon-left i {
  margin-right: 1rem !important;
}
.btn-emerald-500.has-icon-right i {
  margin-left: 1rem !important;
}
.btn-emerald-500:active, .btn-emerald-500:focus {
  box-shadow: none;
  background-color: #0c885f;
  text-decoration: none !important;
  border: 1px solid hsl(0, 0%, 96%);
}
.btn-emerald-500:hover {
  background-color: #14e6a0;
}
.btn-emerald-500.contained {
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.btn-emerald-500.contained:hover {
  box-shadow: 0 0.5rem 0.75rem #0a0a0a;
}
.btn-emerald-500:hover {
  background-color: #12ce90 !important;
}

.btn-outlined-emerald-500 {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 0.75rem 30px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 9%);
  align-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 9%);
  transition: all 0.4s ease;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  color: #3feeb4;
  border: 1px solid hsl(160, 84%, 39%);
}
.btn-outlined-emerald-500[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  pointer-events: none !important;
}
.btn-outlined-emerald-500[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}
.btn-outlined-emerald-500.size-sm {
  font-size: 12px;
  padding: 0.75rem;
}
.btn-outlined-emerald-500.size-sm i {
  font-size: 12px;
}
.btn-outlined-emerald-500.size-lg {
  font-size: 24px;
  padding: 0.75rem 36px;
}
.btn-outlined-emerald-500.size-lg i {
  font-size: 24px;
}
.btn-outlined-emerald-500.has-icon-left i {
  margin-right: 1rem !important;
}
.btn-outlined-emerald-500.has-icon-right i {
  margin-left: 1rem !important;
}
.btn-outlined-emerald-500:active, .btn-outlined-emerald-500:focus {
  box-shadow: none;
  background-color: black;
  text-decoration: none !important;
  border: 1px solid hsl(0, 0%, 96%);
}
.btn-outlined-emerald-500:hover {
  background-color: #303030;
}
.btn-outlined-emerald-500.contained {
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.btn-outlined-emerald-500.contained:hover {
  box-shadow: 0 0.5rem 0.75rem #0a0a0a;
}
.btn-outlined-emerald-500:hover {
  color: black;
  background-color: hsl(160, 84%, 39%);
}
.btn-outlined-emerald-500[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  border: 1px solid #292929;
  pointer-events: none !important;
}
.btn-outlined-emerald-500[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}

.btn-emerald-700 {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 0.75rem 30px;
  border-radius: 4px;
  background-color: hsl(163, 94%, 24%);
  align-content: center;
  align-items: center;
  border: 1px solid hsl(163, 94%, 24%);
  transition: all 0.4s ease;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  color: hsl(0, 0%, 96%);
}
.btn-emerald-700[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  pointer-events: none !important;
}
.btn-emerald-700[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}
.btn-emerald-700.size-sm {
  font-size: 12px;
  padding: 0.75rem;
}
.btn-emerald-700.size-sm i {
  font-size: 12px;
}
.btn-emerald-700.size-lg {
  font-size: 24px;
  padding: 0.75rem 36px;
}
.btn-emerald-700.size-lg i {
  font-size: 24px;
}
.btn-emerald-700.has-icon-left i {
  margin-right: 1rem !important;
}
.btn-emerald-700.has-icon-right i {
  margin-left: 1rem !important;
}
.btn-emerald-700:active, .btn-emerald-700:focus {
  box-shadow: none;
  background-color: #024532;
  text-decoration: none !important;
  border: 1px solid hsl(0, 0%, 96%);
}
.btn-emerald-700:hover {
  background-color: #05a87a;
}
.btn-emerald-700.contained {
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.btn-emerald-700.contained:hover {
  box-shadow: 0 0.5rem 0.75rem #0a0a0a;
}
.btn-emerald-700:hover {
  background-color: #048f68 !important;
}

.btn-outlined-emerald-700 {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 0.75rem 30px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 9%);
  align-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 9%);
  transition: all 0.4s ease;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  color: #07da9e;
  border: 1px solid hsl(163, 94%, 24%);
}
.btn-outlined-emerald-700[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  pointer-events: none !important;
}
.btn-outlined-emerald-700[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}
.btn-outlined-emerald-700.size-sm {
  font-size: 12px;
  padding: 0.75rem;
}
.btn-outlined-emerald-700.size-sm i {
  font-size: 12px;
}
.btn-outlined-emerald-700.size-lg {
  font-size: 24px;
  padding: 0.75rem 36px;
}
.btn-outlined-emerald-700.size-lg i {
  font-size: 24px;
}
.btn-outlined-emerald-700.has-icon-left i {
  margin-right: 1rem !important;
}
.btn-outlined-emerald-700.has-icon-right i {
  margin-left: 1rem !important;
}
.btn-outlined-emerald-700:active, .btn-outlined-emerald-700:focus {
  box-shadow: none;
  background-color: black;
  text-decoration: none !important;
  border: 1px solid hsl(0, 0%, 96%);
}
.btn-outlined-emerald-700:hover {
  background-color: #303030;
}
.btn-outlined-emerald-700.contained {
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.btn-outlined-emerald-700.contained:hover {
  box-shadow: 0 0.5rem 0.75rem #0a0a0a;
}
.btn-outlined-emerald-700:hover {
  color: black;
  background-color: hsl(163, 94%, 24%);
}
.btn-outlined-emerald-700[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  border: 1px solid #292929;
  pointer-events: none !important;
}
.btn-outlined-emerald-700[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}

.btn-complement-emerald-700 {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 0.75rem 30px;
  border-radius: 4px;
  background-color: hsl(163, 94%, 24%);
  align-content: center;
  align-items: center;
  border: 1px solid hsl(163, 94%, 24%);
  transition: all 0.4s ease;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  color: #f81b5a;
}
.btn-complement-emerald-700[disabled] {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 9%);
  box-shadow: none;
  color: #5c5c5c;
  pointer-events: none !important;
}
.btn-complement-emerald-700[disabled]:hover {
  background-color: hsl(0, 0%, 9%);
}
.btn-complement-emerald-700.size-sm {
  font-size: 12px;
  padding: 0.75rem;
}
.btn-complement-emerald-700.size-sm i {
  font-size: 12px;
}
.btn-complement-emerald-700.size-lg {
  font-size: 24px;
  padding: 0.75rem 36px;
}
.btn-complement-emerald-700.size-lg i {
  font-size: 24px;
}
.btn-complement-emerald-700.has-icon-left i {
  margin-right: 1rem !important;
}
.btn-complement-emerald-700.has-icon-right i {
  margin-left: 1rem !important;
}
.btn-complement-emerald-700:active, .btn-complement-emerald-700:focus {
  box-shadow: none;
  background-color: #024532;
  text-decoration: none !important;
  border: 1px solid hsl(0, 0%, 96%);
}
.btn-complement-emerald-700:hover {
  background-color: #05a87a;
}
.btn-complement-emerald-700.contained {
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.btn-complement-emerald-700.contained:hover {
  box-shadow: 0 0.5rem 0.75rem #0a0a0a;
}
.btn-complement-emerald-700:hover {
  color: black;
  background-color: #f81b5a;
}

.navbar .container, .navbar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: wrap;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid hsl(0, 0%, 15%);
  min-height: 60px;
  z-index: 999 !important;
}

.badge-neutral-500 {
  border-radius: 64px;
  background-color: hsl(0, 0%, 45%);
  padding: 0.1875rem 0.375rem;
  font-size: 12px;
  font-weight: normal;
}

.badge-neutral-800 {
  border-radius: 64px;
  background-color: hsl(0, 0%, 15%);
  padding: 0.1875rem 0.375rem;
  font-size: 12px;
  font-weight: normal;
}

.badge-outlined-neutral-800 {
  border-radius: 64px;
  background-color: hsl(0, 0%, 15%);
  padding: 0.1875rem 0.375rem;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid hsl(0, 0%, 15%);
  background-color: transparent;
}

.badge-neutral-900 {
  border-radius: 64px;
  background-color: hsl(0, 0%, 9%);
  padding: 0.1875rem 0.375rem;
  font-size: 12px;
  font-weight: normal;
}

.badge-emerald-500 {
  border-radius: 64px;
  background-color: hsl(160, 84%, 39%);
  padding: 0.1875rem 0.375rem;
  font-size: 12px;
  font-weight: normal;
}

.badge-emerald-700 {
  border-radius: 64px;
  background-color: hsl(163, 94%, 24%);
  padding: 0.1875rem 0.375rem;
  font-size: 12px;
  font-weight: normal;
}

.badge-outlined-emerald-900 {
  border-radius: 64px;
  background-color: hsl(164, 86%, 16%);
  padding: 0.1875rem 0.375rem;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid hsl(164, 86%, 16%);
  background-color: transparent;
}

.avatar {
  display: inline-flex;
  border-radius: 16px;
  font-weight: normal;
  font-size: 24px;
  height: 4rem;
  width: 4rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: visible !important;
}
.avatar.size-sm {
  font-size: 16px !important;
  height: 2rem !important;
  width: 2rem !important;
}
.avatar.size-lg {
  height: 6rem !important;
  width: 6rem !important;
  font-size: 48px !important;
}
.avatar.has-image {
  background: url("/assets/john_avatar.png") center center no-repeat !important;
}
.avatar .status {
  display: inline-flex;
  position: relative;
  top: calc(100% - 2.25rem);
  right: 0.25rem;
  height: 6px;
  width: 6px;
  border: 4px solid hsl(0, 0%, 9%);
  border-radius: 100% !important;
  z-index: 99 !important;
  flex-shrink: 1;
  margin-right: -0.75rem;
  margin-top: -1rem;
}
.avatar .status.is-active {
  background-color: hsl(160, 84%, 39%);
}
.avatar .status.is-idle {
  background-color: hsl(45, 93%, 47%);
}
.avatar .status.is-off {
  background-color: hsl(0, 72%, 51%);
}
.avatar .status.top-left {
  top: -0.75rem !important;
  right: calc(100% - 1.5rem) !important;
}
.avatar .status.top-right {
  top: -0.75rem !important;
}
.avatar .status.bottom-left {
  top: calc(100% - 2.25rem) !important;
  right: calc(100% - 1.5rem) !important;
}

.avatar-group {
  display: inline-flex;
}
.avatar-group * {
  border: 4px solid hsl(0, 0%, 9%);
  margin-left: -0.75rem;
  overflow: clip;
}

.avatar-neutral-800 {
  display: inline-flex;
  border-radius: 16px;
  background-color: hsl(0, 0%, 15%);
  font-weight: normal;
  font-size: 24px;
  height: 4rem;
  width: 4rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: visible !important;
}
.avatar-neutral-800.size-sm {
  font-size: 16px !important;
  height: 2rem !important;
  width: 2rem !important;
}
.avatar-neutral-800.size-lg {
  height: 6rem !important;
  width: 6rem !important;
  font-size: 48px !important;
}
.avatar-neutral-800.has-image {
  background: url("/assets/john_avatar.png") center center no-repeat !important;
}
.avatar-neutral-800 .status {
  display: inline-flex;
  position: relative;
  top: calc(100% - 2.25rem);
  right: 0.25rem;
  height: 6px;
  width: 6px;
  border: 4px solid hsl(0, 0%, 9%);
  border-radius: 100% !important;
  z-index: 99 !important;
  flex-shrink: 1;
  margin-right: -0.75rem;
  margin-top: -1rem;
}
.avatar-neutral-800 .status.is-active {
  background-color: hsl(160, 84%, 39%);
}
.avatar-neutral-800 .status.is-idle {
  background-color: hsl(45, 93%, 47%);
}
.avatar-neutral-800 .status.is-off {
  background-color: hsl(0, 72%, 51%);
}
.avatar-neutral-800 .status.top-left {
  top: -0.75rem !important;
  right: calc(100% - 1.5rem) !important;
}
.avatar-neutral-800 .status.top-right {
  top: -0.75rem !important;
}
.avatar-neutral-800 .status.bottom-left {
  top: calc(100% - 2.25rem) !important;
  right: calc(100% - 1.5rem) !important;
}

.avatar-outlined-neutral-800 {
  display: inline-flex;
  border-radius: 16px;
  background-color: hsl(0, 0%, 15%);
  font-weight: normal;
  font-size: 24px;
  height: 4rem;
  width: 4rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: visible !important;
  color: #595959;
  border: 1px solid hsl(0, 0%, 15%);
  background-color: transparent;
}
.avatar-outlined-neutral-800.size-sm {
  font-size: 16px !important;
  height: 2rem !important;
  width: 2rem !important;
}
.avatar-outlined-neutral-800.size-lg {
  height: 6rem !important;
  width: 6rem !important;
  font-size: 48px !important;
}
.avatar-outlined-neutral-800.has-image {
  background: url("/assets/john_avatar.png") center center no-repeat !important;
}
.avatar-outlined-neutral-800 .status {
  display: inline-flex;
  position: relative;
  top: calc(100% - 2.25rem);
  right: 0.25rem;
  height: 6px;
  width: 6px;
  border: 4px solid hsl(0, 0%, 9%);
  border-radius: 100% !important;
  z-index: 99 !important;
  flex-shrink: 1;
  margin-right: -0.75rem;
  margin-top: -1rem;
}
.avatar-outlined-neutral-800 .status.is-active {
  background-color: hsl(160, 84%, 39%);
}
.avatar-outlined-neutral-800 .status.is-idle {
  background-color: hsl(45, 93%, 47%);
}
.avatar-outlined-neutral-800 .status.is-off {
  background-color: hsl(0, 72%, 51%);
}
.avatar-outlined-neutral-800 .status.top-left {
  top: -0.75rem !important;
  right: calc(100% - 1.5rem) !important;
}
.avatar-outlined-neutral-800 .status.top-right {
  top: -0.75rem !important;
}
.avatar-outlined-neutral-800 .status.bottom-left {
  top: calc(100% - 2.25rem) !important;
  right: calc(100% - 1.5rem) !important;
}

.taskbar {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #242424;
  padding: 0.25rem;
  border-radius: 16px;
  background-color: hsl(0, 0%, 9%);
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 96%);
  max-width: 90vw;
  transition: all 0.4s ease;
}
.taskbar > .task-item {
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
}
.taskbar > .task-item:active, .taskbar > .task-item:focus {
  color: hsl(158, 64%, 52%);
  border-color: hsl(158, 64%, 52%);
  background-color: transparent !important;
  text-decoration: none !important;
}
.taskbar > .task-item:hover {
  background-color: #0b3224;
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 1px solid #242424;
  border-radius: 16px;
  width: 264px;
  max-width: 264px !important;
  height: 100vh;
  z-index: 99 !important;
  padding: 0;
  align-content: center;
}
.sidebar button.toggler {
  align-self: right;
}
.sidebar.is-fixed-left {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
}
.sidebar.is-fixed-right {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
}
.sidebar nav {
  display: flex;
  flex-flow: column nowrap !important;
  padding: 0.75rem;
  height: 60vh;
}
.sidebar nav li {
  display: flex;
  margin: 0;
}
.sidebar nav li:first-child {
  justify-content: space-between;
}
.sidebar nav li a {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  transition: all 0.4s ease-in-out;
  align-items: center;
  height: 3rem;
  align-items: center;
  padding: 0 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 100%;
  flex-grow: 1;
}
.sidebar nav li a:hover {
  background-color: #0b3224;
}
.sidebar nav li a:active, .sidebar nav li a:focus {
  background-color: #0a0a0a;
  border: 1px solid hsl(158, 64%, 52%);
  text-decoration: none !important;
}

.tbl {
  display: inline-table;
  width: 100%;
  overflow-x: auto;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: hsl(0, 0%, 9%);
  color: hsl(0, 0%, 96%);
  border-collapse: collapse;
  margin-bottom: 0.75rem;
}
.tbl tr {
  width: 100%;
}
.tbl tr th,
.tbl tr td {
  padding: 0.375rem 0.75rem;
  vertical-align: middle;
  text-align: left;
  border-bottom: 1px solid #242424;
}

.tbl-outlined-emerald-900 {
  display: inline-table;
  width: 100%;
  overflow-x: auto;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: hsl(0, 0%, 9%);
  color: hsl(0, 0%, 96%);
  border-collapse: collapse;
  margin-bottom: 0.75rem;
  border-collapse: separate !important;
  border: 1px solid hsl(164, 86%, 16%);
}
.tbl-outlined-emerald-900 tr {
  width: 100%;
}
.tbl-outlined-emerald-900 tr th,
.tbl-outlined-emerald-900 tr td {
  padding: 0.375rem 0.75rem;
  vertical-align: middle;
  text-align: left;
  border-bottom: 1px solid #242424;
}
.tbl-outlined-emerald-900 th,
.tbl-outlined-emerald-900 td {
  border: 1px solid hsl(164, 86%, 16%);
  border-bottom: 1px solid hsl(164, 86%, 16%) !important;
}
.tbl-outlined-emerald-900 td:hover {
  background-color: #07644b;
}

.tbl-striped-emerald-900 {
  display: inline-table;
  width: 100%;
  overflow-x: auto;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: hsl(0, 0%, 9%);
  color: hsl(0, 0%, 96%);
  border-collapse: collapse;
  margin-bottom: 0.75rem;
}
.tbl-striped-emerald-900 tr {
  width: 100%;
}
.tbl-striped-emerald-900 tr th,
.tbl-striped-emerald-900 tr td {
  padding: 0.375rem 0.75rem;
  vertical-align: middle;
  text-align: left;
  border-bottom: 1px solid #242424;
}
.tbl-striped-emerald-900 tr:nth-child(even) {
  background-color: #097b5d;
}
.tbl-striped-emerald-900 td:hover {
  background-color: #07644b;
}

form {
  display: inline-flex;
  width: 100%;
  flex-flow: column wrap;
  gap: 0.75rem;
  border-radius: 16px;
  border: 1px solid #242424;
  margin-bottom: 0.75rem;
  padding: 0.75rem;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=time],
input[type=month],
input[type=color],
input[type=search],
input[type=range],
textarea {
  color: hsl(0, 0%, 96%);
  background-color: #0a0a0a;
  box-sizing: border-box;
  padding: 8px 12px;
  border: 1px solid #242424;
  border-radius: 4px;
  outline: none;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=time]:focus,
input[type=month]:focus,
input[type=color]:focus,
input[type=search]:focus,
input[type=range]:focus,
textarea:focus {
  border-color: hsl(158, 64%, 52%);
}

textarea {
  resize: vertical;
}

fieldset {
  border: 1px solid #242424;
  display: inline-flex;
  flex-flow: row wrap;
}

fieldset,
label {
  padding: 0.75rem;
  outline: none;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 1rem;
  background: linear-gradient(to right, #0b3224, #60dcaf);
  border-radius: 50px;
  outline: none;
  transition: opacity 0.2s;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: hsl(158, 64%, 52%);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type=range]:hover::-webkit-slider-thumb {
  background: #27b07d;
}

input[type=range]:active::-webkit-slider-thumb {
  background: hsl(0, 0%, 96%);
}

input[type=range]:focus {
  opacity: 1;
  transition: opacity 0.2s;
}

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: auto 0;
  background-color: #0a0a0a;
  border: 1px solid #242424;
  border-radius: 16px;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=checkbox]:hover,
input[type=radio]:hover {
  border-color: #4bd8a4;
}

input[type=checkbox]:focus,
input[type=radio]:focus {
  border-color: #4bd8a4;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  background-color: #4bd8a4;
  border-color: #4bd8a4;
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
  background-color: #0b3224;
  border-color: #0b3224;
  cursor: not-allowed;
}

input[type=checkbox]:checked:disabled,
input[type=radio]:checked:disabled {
  background-color: hsl(158, 64%, 52%);
  border-color: hsl(158, 64%, 52%);
  cursor: not-allowed;
}

.tooltip-container {
  position: relative;
  display: inline-block !important;
  margin: 2rem;
}

.tooltip {
  position: absolute;
  padding: 0.75rem;
  background-color: #0a0a0a;
  border-radius: 4px;
  width: 150px;
  text-align: center;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
  border: 1px solid hsl(158, 64%, 52%);
}

.tooltip::before {
  content: "";
  background: transparent;
  position: absolute;
  border-width: 0.5rem;
  border-style: solid;
  border-color: hsl(158, 64%, 52%) transparent transparent transparent;
  z-index: -1;
}

.tooltip-left::before {
  border-color: transparent transparent transparent hsl(158, 64%, 52%) !important;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}

.tooltip-right::before {
  border-color: transparent hsl(158, 64%, 52%) transparent transparent !important;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
}

.tooltip-top::before {
  border-color: transparent transparent hsl(158, 64%, 52%) transparent !important;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom::before {
  border-color: hsl(158, 64%, 52%) transparent transparent transparent !important;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: none !important;
  border-right: none !important;
}

.tooltip-trigger:hover + .tooltip,
.tooltip:focus {
  opacity: 1;
  pointer-events: auto;
}

/* Adjust tooltip positions based on trigger positions */
.tooltip-container.left .tooltip {
  left: -190px;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-container.right .tooltip {
  left: calc(100% + 1rem);
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-container.top .tooltip {
  left: 50%;
  bottom: calc(100% + 1rem);
  transform: translateX(-50%);
}

.tooltip-container.bottom .tooltip {
  left: 50%;
  top: calc(100% + 1rem);
  transform: translateX(-50%);
}

/* Add triangles pointing to the container */
.tooltip-container.left .tooltip::before {
  left: 100%;
  top: calc(50% - 0.5rem);
  transform: translateY(-50%);
  transform: rotate(270deg);
}

.tooltip-container.right .tooltip::before {
  right: 100%;
  top: calc(50% - 0.5rem);
  transform: translateY(-50%);
  transform: rotate(90deg);
}

.tooltip-container.top .tooltip::before {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-container.bottom .tooltip::before {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(180deg);
}

.modal {
  display: none;
  position: fixed;
  top: 77px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: hsl(0, 0%, 9%);
  padding: 0.75rem;
  border-radius: 8px;
  box-shadow: 0 1rem 1rem #0a0a0a;
  max-width: 60vw;
  margin: 1rem auto;
  border: 2px solid;
  border-left: 5px solid transparent;
  border-color: hsl(0, 0%, 9%);
  align-items: center;
}
.modal-content div {
  display: inline-flex;
  flex-flow: column nowrap;
}
.modal-content div.modal-icon {
  display: inline-block !important;
  margin: auto 1rem auto 0;
  text-align: center;
  font-size: 48px;
  width: max-content;
}
.modal-content div.modal-icon i {
  padding: 0;
  margin: 0;
}
.modal-content div.modal-text {
  width: 100%;
}

.close {
  text-align: right;
  float: right;
  cursor: pointer;
  font-size: 32px;
}

.carousel-container {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem 1rem 2rem 1rem;
  scroll-padding: 1rem;
  width: 600px;
  border-radius: 16px 16px 0 0;
  border: 1px solid #242424;
  box-shadow: 0 3px 5px hsl(0, 0%, 4%);
}
.carousel-container .carousel-item {
  flex: 0 0 100%;
  margin-right: 1rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

.glass {
  background-blend-mode: overlay;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.fractal {
  background-image: url("../assets/fractal_bg.png");
  background-size: 100%;
  background-position: 100% 100%;
}

.bubbled {
  background: radial-gradient(farthest-side, #121212 90%, transparent) left bottom/8rem 8rem, radial-gradient(farthest-side, #1c1c1c 90%, transparent) left center/5rem 5rem, radial-gradient(farthest-side, #242424 90%, transparent) left top/6rem 6rem, radial-gradient(farthest-side, #1c1c1c 90%, transparent) top center/3rem 3rem, radial-gradient(farthest-side, #242424 90%, transparent) top right/5rem 5rem, radial-gradient(farthest-side, #1c1c1c 90%, transparent) right bottom/8rem 8rem, radial-gradient(farthest-side, #121212 60%, transparent) right bottom/13rem 13rem;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.striped {
  background: repeating-linear-gradient(45deg, hsl(0, 0%, 9%), hsl(0, 0%, 9%) 1rem, #121212 1rem, #121212 2rem);
}

.placeholder {
  background-image: linear-gradient(90deg, transparent 0px, rgba(241, 245, 249, 0.2) 40px, transparent 80px);
  background-size: 300%;
  background-position: 100% 0;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  to {
    background-position: -100% 0;
  }
}

.e-1 {
  box-shadow: 0 0 0.5rem #0a0a0a;
}

.e-2 {
  box-shadow: 0 0.125rem 0.25rem #0a0a0a;
}

.e-3 {
  box-shadow: 0 0.25rem 0.5rem #0a0a0a;
}

.e-4 {
  box-shadow: 0 0.5rem 0.75rem #0a0a0a;
}

.e-5 {
  box-shadow: 0 0.75rem 1rem #0a0a0a;
}

.e-6 {
  box-shadow: 0 1rem 1rem #0a0a0a;
}

.e-none {
  box-shadow: none;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-4 {
  padding: 4.5rem;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.br {
  border-radius: 16px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 4px;
}

.br-sm {
  border-radius: 8px;
}

.br-lg {
  border-radius: 32px;
}

.br-xl {
  border-radius: 96px;
}

.br-circle {
  border-radius: 50%;
}

.d-n {
  display: none;
}

.d-f {
  display: flex;
}

.d-i {
  display: inline;
}

.d-i-b {
  display: inline-block;
}

.d-i-f {
  display: inline-flex;
}

.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 24px;
}

.font-xl {
  font-size: 32px;
}

.font-xxl {
  font-size: 48px;
}

.weight {
  font-weight: 400;
}

.weight-light {
  font-weight: 300;
}

.weight-semi-bold {
  font-weight: 500;
}

.weight-bold {
  font-weight: 700;
}

.weight-bolder {
  font-weight: 900;
}

.b-none {
  border: none;
}

.b-solid {
  border: 1px solid #242424;
}

.b-dashed {
  border: 1px dashed #242424;
}

.b-double {
  border: 1px double #242424;
}

.ta {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.mw-25 {
  max-width: 25%;
}

.mw-50 {
  max-width: 50%;
}

.mw-75 {
  max-width: 75%;
}

.mw-100 {
  max-width: 100%;
}