@use 'sass:math';

@mixin avatar($bg-color: map-get($map: $colors, $key: transparent)) {
    display: inline-flex;
    border-radius: $base-border-radius;
    background-color: $bg-color;
    font-size: $font-size-sm;
    font-weight: normal;
    height: 4rem;
    width: 4rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: visible !important;
    font-size: $base-font-size * 2;

    &.has-image {
        background: url('/assets/john_avatar.png') center center no-repeat !important;
    }

    & .status {
        display: inline-flex;
        position: relative;
        top: -0.75rem;
        right: 0.25rem;
        height: 6px;
        width: 6px;
        border: 4px solid map-get($map: $colors, $key: neutral-900);
        border-radius: 100% !important;
        z-index: 99 !important;
        flex-shrink: 1;
        margin-right: -0.75rem;
        margin-top: -1rem;

        &.is-active {
            background-color: map-get($map: $colors, $key: emerald-500);
        }

        &.is-idle {
            background-color: map-get($map: $colors, $key: yellow-500);
        }

        &.is-off {
            background-color: map-get($map: $colors, $key: red-600);
        }
    }
}

.avatar {
    @include avatar;
}

@each $key, $val in $colors {
    .avatar-#{$key} {
        @include avatar($val);
    }

    .avatar-outlined-#{$key} {
        @include avatar($val);
        color: lighten($val, 20);
        border: $base-border solid $val;
        background-color: transparent;
    }
}