@use 'sass:math';

@mixin avatar($bg-color: map-get($map: $colors, $key: transparent)) {
    display: inline-flex;
    border-radius: $base-border-radius;
    background-color: $bg-color;
    font-weight: normal;
    font-size: $font-size-lg;
    height: 4rem;
    width: 4rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: visible !important;

    &.size-sm {
        font-size: $base-font-size !important;
        height: 2rem !important;
        width: 2rem !important;
    }

    &.size-lg {
        height: 6rem !important;
        width: 6rem !important;
        font-size: $font-size-xxl !important;
    }

    &.has-image {
        background: url('/assets/john_avatar.png') center center no-repeat !important;
    }

    & .status {
        display: inline-flex;
        position: relative;
        top: calc(100% - 2.25rem);
        right: 0.25rem;
        height: 6px;
        width: 6px;
        border: 4px solid map-get($map: $colors, $key: neutral-900);
        border-radius: 100% !important;
        z-index: 99 !important;
        flex-shrink: 1;
        margin-right: -0.75rem;
        margin-top: -1rem;

        &.is-active {
            background-color: map-get($map: $colors, $key: emerald-500);
        }

        &.is-idle {
            background-color: map-get($map: $colors, $key: yellow-500);
        }

        &.is-off {
            background-color: map-get($map: $colors, $key: red-600);
        }

        &.top-left {
            top: -0.75rem !important;
            right: calc(100% - 1.5rem) !important;
        }

        &.top-right {
            top: -0.75rem !important;
        }

        &.bottom-left {
            top: calc(100% - 2.25rem) !important;
            right: calc(100% - 1.5rem) !important;
        }
    }
}

.avatar {
    @include avatar;
}

.avatar-group {
    display: inline-flex;

    & * {
        border: 4px solid $base-background-color;
        margin-left: -0.75rem;
        overflow: clip;
    }
}

@each $key, $val in $colors {
    .avatar-#{$key} {
        @include avatar($val);
    }

    .avatar-outlined-#{$key} {
        @include avatar($val);
        color: lighten($val, 20);
        border: $base-border solid $val;
        background-color: transparent;
    }
}