@use 'sass:math';

@mixin badge($bg-color: $base-layout-background-color) {
    border-radius: $base-border-radius * 4;
    background-color: $bg-color;
    padding: math.div($base-padding, 4) math.div($base-padding, 2);
    font-size: $font-size-sm;
    font-weight: normal;
}

.badge {
    @include badge;

    &.active {
        background: $base-link-color;
        color: $base-background-color;
    }
}

@each $key, $val in $colors {
    .badge-#{$key} {
        @include badge($val);
    }

    .badge-outlined-#{$key} {
        @include badge($val);
        border: $base-border solid $val;
        background-color: transparent;
    }
}