@use 'sass:math';

@mixin btn($bg-color: $base-background-color) {
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    border: 0;
    padding: $base-padding 30px;
    border-radius: $base-border-radius * 0.25;
    background-color: $bg-color;
    align-content: center;
    align-items: center;
    border: $base-border solid $bg-color;
    transition: all 0.4s ease;
    font-weight: 500;
    letter-spacing: 0.0125rem;

    &[disabled] {
        cursor: not-allowed;
        background-color: $base-background-color;
        box-shadow: none;
        color: darken($base-text-color, 60);
        pointer-events: none !important;

        &:hover {
            background-color: $base-background-color;
        }
    }

    &.size-sm {
        font-size: $font-size-sm;
        padding: $base-padding;

        & i {
            font-size: $font-size-sm;
        }
    }

    &.size-lg {
        font-size: $font-size-lg;
        padding: $base-padding 36px;

        & i {
            font-size: $font-size-lg;
        }
    }

    &.has-icon-left {
        & i {
            margin-right: 1rem !important;
        }
    }

    &.has-icon-right {
        & i {
            margin-left: 1rem !important;
        }
    }

    &:active,
    &:focus {
        box-shadow: none;
        background-color: darken($bg-color, 10);
        text-decoration: none !important;
        border: $base-border solid $base-text-color;
    }

    &:hover {
        background-color: lighten($bg-color, 10);
    }

    &.contained {
        box-shadow: $base-box-shadow;

        &:hover {
            box-shadow: 0 0.5rem 0.75rem darken($base-background-color, 5);
        }
    }
}

.btn {
    @include btn;
}

.btn-group {
    display: flex;
    flex-flow: row nowrap;
    border-radius: $base-border-radius * 0.25;
    background: $base-background-color;
    padding: 0;
    margin: 0;
    max-width: fit-content;
    gap: 1px;

    & * {
        display: inline-flex;
        border-radius: 0 !important;

        &:first-child {
            border-radius: $base-border-radius * 0.25 0 0 $base-border-radius * 0.25 !important;
        }

        &:last-child {
            border-radius: 0 $base-border-radius * 0.25 $base-border-radius * 0.25 0 !important;
        }
    }
}

@each $key, $val in $colors {
    .btn-#{$key} {
        @include btn($val);
        color: $base-text-color;

        &:hover {
            background-color: lighten($val, 5) !important;
        }
    }

    .btn-outlined-#{$key} {
        @include btn;
        color: lighten($val, 20);
        border: $base-border solid $val;

        &:hover {
            color: darken($val, 80);
            background-color: $val;
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: $base-background-color;
            box-shadow: none;
            color: darken($base-text-color, 60);
            border: $base-border solid darken($base-text-color, 80);
            pointer-events: none !important;

            &:hover {
                background-color: $base-background-color;
            }
        }
    }

    .btn-complement-#{$key} {
        @include btn($val);
        color: light-comp($val);

        &:hover {
            color: darken($val, 80);
            background-color: light-comp($val);
        }
    }

    // dropdown
    .btn-dropdown {
        position: relative;
        display: inline-block;

        .btn-dropdown-btn-#{$key} {
            @include btn($val);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 16px;
            font-size: $base-font-size;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.2s;

            & i {
                font-size: 1rem;
                margin-left: 0.5rem;
                transition: transform 0.2s;
            }

            &:focus-within {
                & i {
                    transform: rotate(-180deg);
                }
            }
        }

        .btn-dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0.5em 0.25em;
            min-width: 10rem;
            border: 1px solid #242424;
            border-radius: 4px;
            box-shadow: $base-box-shadow;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s, visibility 0.2s;

            a {
                display: block;
                border-radius: 4px;
                padding: 8px 16px;
                font-size: 14px;
                color: $base-link-color;
                text-decoration: none;
                transition: background-color 0.2s;

                &:hover {
                    color: darken($base-link-color, 10);
                    background-color: darken($base-link-color, 40);
                }

                &:active,
                &:focus {
                    text-decoration: underline !important;
                }
            }
        }

        &:focus-within .btn-dropdown-menu {
            opacity: 1;
            visibility: visible;
        }
    }
}