@use 'sass:math';

.card {
    color: $base-text-color;
    display: block;
    padding: $base-padding ($base-padding * 2);
    border: $base-border solid map-get($map: $colors, $key: neutral-800);
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius;
    height: 100%;

header {
    display: flex;
    flex-flow: row wrap;
    align-items: space-between;

    &>* {
        display: inline-flex;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    & .content {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: $base-padding ($base-padding * 2);
    }

    footer {
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
}