@mixin taskbar($bg-color: $base-background-color) {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    border: $base-border solid lighten($base-background-color, 5);
    padding: 0.25rem;
    border-radius: $base-border-radius;
    background-color: $bg-color;
    align-content: space-evenly;
    align-items: center;
    color: $base-text-color;
    width: max-content;
}

.taskbar {
    @include taskbar;

    &>.task-item {
        display: inline-flex;
        border: 1px solid transparent;
        border-radius: $base-border-radius * 0.75;
        padding: $base-padding $base-padding * 2;

        &:active,
        &:focus {
            color: $base-link-color;
            border-color: $base-link-color;
            background-color: transparent !important;
            text-decoration: none !important;
        }

        &:hover {
            background-color: darken($base-link-color, 40);
        }
    }
}

@each $key, $val in $colors {
    .taskbar-#{$key} {
        @include taskbar($val);

        &:hover {
            background-color: lighten($val, 5);
        }
    }
}