$bg-color: darken($base-background-color, 5);

.tooltip-container {
    position: relative;
    display: inline-block !important;
    margin: 2rem;
}

.tooltip {
    position: absolute;
    padding: $base-padding;
    background-color: $bg-color;
    border-radius: $base-border-radius * 0.25;
    font-size: $font-size-sm;
    width: max-content;
    text-align: center;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    box-shadow: $base-box-shadow;
    border: $base-border solid $base-border-color;
}

.tooltip::before {
    content: "";
    background: transparent;
    position: absolute;
    border-width: 0.5rem;
    border-style: solid;
    border-color: $base-border-color transparent transparent transparent;
    z-index: -1;
}

.tooltip-left::before {
    border-color: transparent transparent transparent $base-border-color !important;
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);
}

.tooltip-right::before {
    border-color: transparent $base-border-color transparent transparent !important;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
}

.tooltip-top::before {
    border-color: transparent transparent $base-border-color transparent !important;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-bottom::before {
    border-color: $base-border-color transparent transparent transparent !important;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: none !important;
    border-right: none !important;
}

.tooltip-trigger:hover+.tooltip,
.tooltip:focus {
    opacity: 1;
    pointer-events: auto;
}

/* Adjust tooltip positions based on trigger positions */
.tooltip-container.left .tooltip {
    right: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-container.right .tooltip {
    left: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-container.top .tooltip {
    left: 50%;
    bottom: calc(100% + 1rem);
    transform: translateX(-50%);
}

.tooltip-container.bottom .tooltip {
    left: 50%;
    top: calc(100% + 1rem);
    transform: translateX(-50%);
}

/* Add triangles pointing to the container */
.tooltip-container.left .tooltip::before {
    left: 100%;
    top: calc(50% - 0.5rem);
    transform: translateY(-50%);
    transform: rotate(270deg);
}

.tooltip-container.right .tooltip::before {
    right: 100%;
    top: calc(50% - 0.5rem);
    transform: translateY(-50%);
    transform: rotate(90deg);
}

.tooltip-container.top .tooltip::before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-container.bottom .tooltip::before {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(180deg);
}