.glass {
    background-blend-mode: overlay;
    backdrop-filter: blur(8px) saturate(120%);
    -webkit-backdrop-filter: blur(8px) saturate(120%);
}

.shapes {
    background-image: url('../assets/shapes_bg.svg');
    background-size: 100%;
    background-position: 100% 100%;
    background-blend-mode: overlay;
    background-color: $base-background-color;
}

.starry {
    background-image: url('../assets/starry_bg.svg');
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-color: $base-background-color;
}

.hexagons {
    background-image: url('../assets/hexagons_bg.svg');
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-color: $base-background-color;
}

.geometric {
    background-image: url('../assets/geometric_bg.svg');
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-color: $base-background-color;
}

.waves {
    background-image: url('../assets/waves_bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-blend-mode: overlay;
    background-color: $base-background-color;
}

.dotted {
    background-image: url('../assets/dotted_bg.svg');
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-color: $base-background-color;
}

.flowered {
    background-image: url('../assets/flowered_bg.svg');
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-color: $base-background-color;
}

.bubbled {
    background:
        radial-gradient(farthest-side, darken($base-background-color, 2) 90%, transparent) left bottom/8rem 8rem,
        radial-gradient(farthest-side, lighten($base-background-color, 2) 90%, transparent) left center/5rem 5rem,
        radial-gradient(farthest-side, lighten($base-background-color, 5) 90%, transparent) left top/6rem 6rem,
        radial-gradient(farthest-side, lighten($base-background-color, 2) 90%, transparent) top center/3rem 3rem,
        radial-gradient(farthest-side, lighten($base-background-color, 5) 90%, transparent) top right/5rem 5rem,
        radial-gradient(farthest-side, lighten($base-background-color, 2) 90%, transparent) right bottom/8rem 8rem,
        radial-gradient(farthest-side, darken($base-background-color, 2) 60%, transparent) right bottom/13rem 13rem;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.striped {
    background: repeating-linear-gradient(45deg,
            $base-background-color,
            $base-background-color 1rem,
            darken($base-background-color, 2) 1rem,
            darken($base-background-color, 2) 2rem);
}

.placeholder {
    background-image: linear-gradient(90deg, transparent 0px, rgba(241, 245, 249, 0.1) 40px, transparent 80px);
    background-size: 200%;
    background-position: 100% 0;
    animation: shimmer 1.5s infinite ease-in-out;
}

@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}