.glass {
    background-blend-mode: overlay;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.placeholder {
    background-image: linear-gradient(90deg, transparent 0px, rgba(241, 245, 249, 0.2) 40px, transparent 80px);
    background-size: 300%;
    background-position: 100% 0;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}